/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
    chosen {
        zmk,matrix_transform = &default_transform;

        // zmk,matrix_transform = &five_column_transform;
    };
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";


    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
//---------------------------------------------------------------+                            +---------------------------------------------------------------//
//          |         |          |           |          |        |                            |       |       |           |         |          |           // 
      &kp ESC   &kp Q     &kp W      &kp E        &kp R    &kp T                                 &kp Y   &kp U     &kp I      &kp O     &kp P     &kp BACKSPACE
//          |         |          |           |          |        |                            |       |       |           |         |          |           //
  &kp LSHFT     &kp A     &kp S      &kp D        &kp F     &kp G                               &kp H   &kp J     &kp K      &kp L    &kp SEMI    &kp ENTER
//          |         |          |           |          |        +-----------+    +-----------|       |       |           |         |          |           //
    &kp LCTRL   &kp Z     &kp X      &kp C       &kp V    &kp B    &kp C_MUTE       &kp C_PP    &kp N   &kp M   &kp COMMA   &kp DOT    &kp FSLH     &kp LALT
//--------------------|          |           |          |        |           |    |           |       |       |           |--------------------------------//  
                        &kp UP      &kp DOWN   &kp LGUI  &kp SPACE     &mo 2        &kp LSHFT     &mo 1    &mo 3    &kp  LEFT    &kp RIGHT
//                    +----------|-----------|----------|--------|-----------+    +-----------|-------|--------|-----------|---------+                      //
            >;
        };

        lower_layer {
            display-name = "NUMBER";
            bindings = <
//---------------------------------------------------------------------------------------+                        +------------------------------------------------------------------//
//          |              |              |              |              |                |                        |          |          |          |          |          |           // 
   &kp ESC        &kp N1        &kp N2        &kp N3        &kp N4             &kp N5                                 &kp N6    &kp N7     &kp N8     &kp N9     &kp N0    &kp BACKSPACE
//          |              |              |              |              |                |                        |          |          |          |          |          |           // 
    &trans     &kp PLUS        &kp MINUS  &kp KP_MULTIPLY  &kp SLASH     &kp EQUAL                               &kp LPAR  &kp RPAR   &kp LBRC   &kp RBRC &kp DOUBLE_QUOTES  &kp GRAVE
//          |              |              |              |              |                +--------+     +---------|          |          |          |          |          |           // 
    &trans         &trans        &trans         &trans        &trans          &trans          &trans     &trans    &kp LBKT  &kp RBKT    &kp LT    &kp GT       &kp PIPE     &kp UNDERSCORE
//-------------------------|              |              |              |                |        |     |         |          |          |          |          |----------------------//
                               &trans          &trans         &trans      &trans            &trans         &trans     &trans     &trans     &trans     &trans
//                         +--------------|--------------|--------------|----------------|--------+     +----------|---------|----------|----------|----------+                      //
            >;

        };

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
//-------------------------------------------------------------------------------+                      +----------------------------------------------------------------------------//
//          |          |                |                 |          |           |                      |           |               |          |          |               |          // 
   &kp TAB       &kp F1        &kp F2        &kp F3           &kp F4       &kp F5                          &kp CARET    &kp HOME       &kp UP    &kp END    &kp RPAR       &kp BSPC
//          |          |                |                 |          |           |                      |           |               |          |          |               |          // 
    &trans     &kp F6        &kp F7        &kp F8             &kp F9     &kp F10                           &kp MINUS    &kp LEFT      &kp DOWN   &kp RIGHT  &kp SINGLE_QUOTE  &kp GRAVE
//          |          |                |                 |          |           +--------+     +-------|           |               |                     |               |          // 
    &trans     &out OUT_USB  &out OUT_BLE   &none             &none         &none    &none        &none    &kp UNDER  &kp C_PREV      &kp C_PP    &kp C_NEXT  &kp PIPE        &kp TILDE
//---------------------|                |                 |          |           |        |    |                    |               |          |          |--------------------------//
                            &trans            &trans         &trans     &trans     &trans        &trans    &trans       &trans         &trans     &trans
//                     +----------------|-----------------|----------|-----------|--------+    +--------|----------|----------------|----------|----------+                          //
            >;
        };

        layer_3 {
            display-name = "Fn";
            bindings = <
//-----------------------------------------------------------------+                        +------------------------------------------------------------------//
//          |          |          |          |          |          |                        |          |          |          |          |          |           // 
    &trans     &kp F1      &kp F2   &kp F3      &kp F4      &kp F5                             &kp F6     &kp F7     &kp F8      &kp F9    &kp F10     &kp F11
//          |          |          |          |          |          |                        |          |          |          |          |          |           //
    &trans &bt BT_CLR_ALL &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_SEL 3           &bootloader  &trans     &trans    &trans  &kp PRINTSCREEN  &kp F12
//          |          |          |          |          |          +--------+     +---------|          |          |          |          |          |           // 
    &trans     &trans     &trans     &trans     &trans     &trans    &trans         &trans     &trans     &trans     &trans     &trans     &trans     &trans
//---------------------|          |          |          |          |        |     |         |          |          |          |          |----------------------//
                          &trans     &trans     &trans     &trans    &trans         &trans     &trans     &trans     &trans     &trans
//                     +----------|----------|----------|----------|--------+     +----------|---------|----------|----------|----------+                      //
            >;
        };

    };
};
